@import "tailwindcss";

@layer base{
  body{
    overflow-x: hidden;
  }
  html{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-family: "Playfair Display", serif;
    font-family: "Source Serif 4", serif;
  }
}